PORT=4000
NODE_ENV=development

# PostgreSQL
PG_HOST=localhost
PG_DB=ims
PG_USER=ims_user
PG_PASS=ims_pass
PG_PORT=5432

# MongoDB
MONGO_URI=mongodb://localhost:27017/ims_signals

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
